.navbar-bg {
    background-image: url('https://bloximages.newyork1.vip.townnews.com/finehomesandliving.com/content/tncms/assets/v3/editorial/e/76/e768bc2e-666f-11ed-8fcd-0f1a5c6a9ed1/637623885035b.image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}